/* #region main containers */
body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
/* #endregion */

/* -------- HEADER --------- */
header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;/* не учитывать падинг в общую ширину - накладывать поверх width */
  display: flex;
}

address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logotype-phrase-studio {
  color: #2e2f42; /*navy blue*/
}
.menu-nav {
  font-family: 'Raleway', sans-serif;
  margin-right: 0;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #2e2f42;
  font-weight: 700;
  display: flex;
  gap: 40px;
}
.menu-nav-li-a {
  margin-right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-nav-li-a:hover,
.menu-nav-li-a:focus {
  color: #404bbf;
}
.address {
  display: flex;
}
.address-ul {
  display: flex;
  gap: 40px;
}
.address-ul a {
  color: red;
}
.mailto {
  letter-spacing: 0.02em;
  /* color: #434455; */
}

.mailto:hover,
.mailto:focus {
  letter-spacing: 0.02em;
  /* color: #404bbf; */
}
/* --------- END HEADER ------- */
.roboto {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.raleway {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* #region hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;

  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-title {
  max-width: 496px;
}
/* #endregion hero */

/* SECTION 2 ------------------------------------------------------------*/
.section-two {
  padding: 120px 0;
  border: 1px solid black;
  
}
.section-two-ul {
  display: flex;
  gap: 24px;
  flex-direction:row;
  background-color: aqua;
  margin: 0 auto;
  padding: 0;

  
}
.section-two-li {
   width: calc((100% - 72px) / 4);
  
   background-color: rgb(240, 97, 97);
}
/* .abc:first-child {
   width: calc((100% - 72px) / 4);
} */

.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 1.17;
  color: #2e2f42; /*navy blue*/
  font-weight: bold;
  text-transform: uppercase;
}

.main-adress {
  color: #434455; /*slate*/
  font-style: normal;
}

.footer-logotype-phrase-studio {
  color: #f4f4fd;
}

.section-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-two-p {
  letter-spacing: 0.02em;
}

/* SECTION 3 */
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-ul {
  display: flex;
  gap: 24px;
}
.section-three-li {
  background-color: #ffffff;
    width: calc((100%-72px)/4);
  border-radius: 0px 0px 4px 4px;
}



.worker-bio {
  padding: 32px 0;
}

.worker-h3 {
  text-align: center;
  margin-bottom: 8px;
}

.worker-p {
  text-align: center;
}

.section-three-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* SECTION 4 */
.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-four-ul {
  display: flex;
  flex-wrap: wrap; /* для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому */
  column-gap: 24px; /* для визначення горизонтальних відступів між пунктами списку  */
  row-gap: 48px; /* для визначення вертикальних відступів між елементами списку якщо вони переносяться на новий рядок */
}

.section-four-h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.section-four-first-li {
 width: calc((100% - 72px) / 4); /* для визначення ширини для елемента списку (від загальної ширини екрану віднімаємо суму відступів між пунктами і ділимо це на кількість пунктів списку в одному рядку) */
}
.portfolio-card-about {
  padding: 32px 16px; /* для визначення відступів від країв контейнера */
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card-title-four {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.portfolio-card-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding: 100px 0;
  max-width: 264px;
}
.footer-a {
  display: inline-block;
  margin-bottom: 16px;
}
